div{
    text-align: center;
}

body{
    background-color: grey;    
}

.centered_div{
    margin: auto;
    width: 70%;
    background-color: whitesmoke;
}

.res_div{
    text-align: right;
    margin: auto;
    width: 85%;
    background-color: aqua;
}

.onoff_div{
    text-align: left;
    border: 1px solid black;
    margin: auto;
    width: 85%;
}

.calculadora{
    margin:auto;
    display: grid; 
    grid-template-columns: auto auto auto auto; 
    width:85% ;
}